#root,html,body,#root,.App{
  height: 100%;
}

body {
  /*margin: 0;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Element in Output Container style*/
#output{
  box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 3px rgba(0,0,0,.15);
  background-color: gainsboro;
  margin-top: 3%;
}

#l-output{
  padding: 2% 5% 5% 2%;
  -ms-overflow-x: scroll;
  -ms-overflow-y: scroll !important;
  overflow: scroll !important;
}

.output-line{
  box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 3px rgba(0,0,0,.15);
  margin-left: 10%;
  margin-top: 2%;
  align-content:space-evenly;
  background-color: white;
}
.output-line p{
  height: 50%;
  margin-left: 3%;
  /*background-color: white;*/
}
/*  --- */
.App{
  margin: 0;
  width: 100%;
  padding: 0px 0px 0px 0px !important;
  overflow-y: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
#editor {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  z-index: 2;
}

#edit-container{
min-height: 100%
}

#output-container{
  height: 100vh;
}

#console-runner{
  float: right;
  z-index: 9;
  /*opacity: 0.4;*/
  background-color: rgba(255,255,255,0.4)!important;
  padding: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}

.nav-brand-end{
  margin-right: 0!important;
}

.console-img{
  width: 15px;
  height: 15px;
  /*margin-right:30% ;*/
}

.console-img:hover{
  cursor: pointer;
}
/*For Tab Report and Output*/
#Report-View{
  height: 100%;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  width: 100%;
  overflow: scroll;
}
#Console-View{
  height: 100%;
  width: 100%;

  /*display: inline-block;*/
  /*vertical-align: middle;*/
  float: none;
}

/*For devtool Report and Output*/
#dev-report{
  overflow: scroll;
}

#dev-console{

}

/* Console html */
.terminalCont{
  background: black;
  width: 100%;
  border-radius: 4px;
  padding:12px 0 0 0;
  font-family: 'Roboto Mono', monospace;
  /*opacity: 1;*/
  height: 100%;
  /*animation:*/
  /*        slideDownAnimation 1s ease-in-out 1s forwards,*/
  /*        fadeInAnimation 0.8s ease-in-out 1s forwards;*/
}

.term-tab{
  padding-bottom: 20px;

}

.tab-content{
  height: 100%;
}
.tab-pane{
  height: 88%;
  overflow: scroll;
}

.userEnteredText{
  color: rgba(255,255,255,0.5);
  margin: 0;
  padding: 0;
  display: inline-block;
}

#terminalReslutsCont{
  width:100%;
  height: 91.5%;
  padding: 12px;
  overflow-y: auto;
  resize: none;
  border: none;
  font-size: 14px;
  line-height: 28px;
  display: block;
  color: rgba(255,255,255,0.9);
}
#terminalTextInput{
  background: black;
  display: block;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-radius: 0 0 4px 4px;
  width: 100%;
  color: white;
  padding: 18px;
  font-size: 14px;
  outline: none;
  font-family: 'Roboto Mono', monospace;
  height: 5%;
  padding-bottom: 2%;
}

.out-switch-nav{
  width: 10%;
}
.out-switch-nav:hover{
  cursor: pointer;
}
